#check{
    display: none;
}
.checkBtn{
    display: none;
    color: white;
    font-size: 27px;
    font-weight: bold;
    margin-left: 220px;
}
@media(max-width:470px){
    .navLinks{
        display: none;
        position: absolute;
        width: 100%;
        display: none;
        margin-top: 125%;
        margin-left: 15px;
    }
    .navLinks li{
        padding: 10px;
    }
    .checkBtn{
        display: block;
    }
    #check:checked ~ .navLinks{
        display: block;
    }
    .navSection{
        margin-left: 5px;
        padding: 0 40px 20px;
    }
    
}